<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>LayerLister</Name><AddInID>{8ea36ae7-7bae-4352-ada4-b2b52c7d1123}</AddInID><Description>List of TOC</Description><Version>0.3</Version><Image>Images\logo.png</Image><Author>Sercan ERHAN</Author><Company /><Date>03/19/2014</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="layerlister_addin.py" namespace="layerlister_addin"><ArcMap>
    <Commands>
        <Button caption="KatmanListeleyici" category="LayerLister" class="ButtonClass5" id="layerlister_addin.button" image="Images\logo.png" message="TOC daki katman isimlerini listeler" tip="TOC daki katman isimlerini listeler"><Help heading="TOC daki katman isimlerini listeler">TOC daki katman isimlerini listeler</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="SRC" category="LayerLister" id="layerlister_addin.toolbar" showInitially="true"><Items><Button refID="layerlister_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>